#stats-counter {
    background-image: url('/assets/img/learn.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    margin-left: 250px; /* Change the value as per your requirement */
}