<section id="about" class="about">
    <div class="container" data-aos="fade-up">
       <div class="section-header">
         <br>
          <h2>Welcome</h2>
          <p>See <span>Our Trainings</span></p>
       </div>


      <!-- Button trigger modal -->
      <div class="button-container">
        <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#create">
          Add Training
        </button>
      </div>


       <div class="container">
        <table class="table">
          <thead>
            <tr>
             
              <th scope="col"  >Thematic</th>
      
            </tr>
          </thead>
          <tbody>
           
            <tr *ngFor="let item of allTrainings">     
              <td data-bs-target="#buttons" data-bs-toggle="modal" (click)="openFirstModal(item.id)" >{{ item.thematic }}</td> 
           
            </tr>
          </tbody>
        </table>
      </div>
    </div>
 </section>





 <!-- Modal create -->
 <div class="modal fade" id="create" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createLabel">Create New Training</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="name-input">Enter the training name:</label>
          <input type="text" id="name-input" name="name" required [(ngModel)]= "trainingForm.thematic">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="create()" data-bs-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>



 <!-- Modal button -->
 <div class="modal fade" id="buttons" tabindex="-1" aria-labelledby="buttonsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="buttonsLabel">Action</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div>
            <button type="button" class="btn btn-primary me-2" data-bs-target="#edit" data-bs-toggle="modal"   (click)="openSecondModal()">Edit</button>
            <button type="button" class="btn btn-primary me-2" class="btn btn-danger me-2" (click)="delete()" (click)="openSecondModal()" data-bs-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-primary me-2" data-bs-target="#openTS" data-bs-toggle="modal"   (click)="openSecondModal()" >OpenTS</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>



 <!-- Modal edit -->
 <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editLabel">Edit Training</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="name-input">Enter the training name:</label>
          <input type="text" id="name-input" name="name" required [(ngModel)]= "trainingForm.thematic">
        </form>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary me-2" (click)="update()" data-bs-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>




 <!-- Modal openTS -->
 <div class="modal fade" id="openTS" tabindex="-1" aria-labelledby="openTSLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="openTSLabel">Open New Session</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="name-input">Enter the session name:</label>
          <input type="text" id="name-input" name="name" required [(ngModel)]= "sessionForm.name">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary me-2" (click)="openTs()" data-bs-dismiss="modal">Open</button>
      </div>
    </div>
  </div>
</div>