.contact button[type="submit"] {
    background-color: #ff7900;
    color: #fff;
}
.section-header p span {
    color: #ff7900;
  }

.icon.bi {
    background-color: #ff7900;
  }

  .contact a.__cf_email__ {
    color: #ff7900;
  }