<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">
       <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Sessions</span></p>
       </div>
       <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
             <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href=""><img src="" class="img-fluid" alt="session"></a></div>
             <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href=""><img src="" class="img-fluid" alt="session"></a></div>
             <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href=""><img src="" class="img-fluid" alt="session"></a></div>
             <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href=""><img src="" class="img-fluid" alt="session"></a></div>
             <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href=""><img src="" class="img-fluid" alt="session"></a></div>
          </div>
          <div class="swiper-pagination"></div>
       </div>
    </div>
 </section>