<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
       <div class="row justify-content-between gy-5">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
             <p data-aos="fade-up" data-aos-delay="100">Group Orange is a team of individuals working together towards a common goal. We believe in collaboration, communication, and creativity to achieve success.

                Our team is comprised of diverse individuals with unique skills and perspectives. We work to leverage these differences to maximize our potential and create innovative solutions.
                
                We are committed to excellence in everything we do, and we strive to maintain a positive and supportive work environment. Our goal is to not only meet, but exceed our clients' expectations and deliver exceptional results. </p>
            </div>

          <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start "> 
            <img   src="assets/img/orange.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"> </div>
            
       </div>
    </div>
    
</section>